In [19]:
import pandas as pd

In [20]:
df=pd.read_csv('real.csv')

In [21]:
df

       sports  Height  Weight  BMI
0     cricket     171      67   24
1     cricket     183      74   25
2     cricket     182      76   24
3     cricket     181      69   24
4     cricket     183      71   25
..        ...     ...     ...  ...
153  longjump     184     128   30
154  longjump     183     126   30
155  longjump     184     126   30
156  longjump     189     127   30
157  longjump     189     127   29

[158 rows x 4 columns]

In [22]:
df.tail(50)

       sports  Height  Weight  BMI
108    tennis     184      79   21
109    tennis     187      74   21
110    tennis     189      78   21
111    tennis     188      75   20
112    tennis     188      79   20
113    tennis     189      77   21
114    tennis     184      74   22
115    tennis     186      76   21
116    tennis     185      80   21
117  shortput     190      40   31
118  shortput     190      42   31
119  shortput     190      42   32
120  shortput     195      43   31
121  shortput     199      43   31
122  shortput     189     110   30
123  shortput     188     120   31
124  shortput     189     130   31
125  shortput     195     130   30
126  shortput     195     120   31
127  shortput     188     130   30
128  shortput     186     120   30
129  shortput     186     125   32
130  shortput     183     124   31
131  shortput     184     124   31
132  shortput     184     124   31
133  longjump     180     125   30
134  longjump     179     130   28
135  longjump     182     120   28
136  longjump     182     132   29
137  longjump     181     120   28
138  longjump     179     119   29
139  longjump     179     120   29
140  longjump     182     120   29
141  longjump     184     123   28
142  longjump     184     122   29
143  longjump     183     122   29
144  longjump     183     129   30
145  longjump     183     129   30
146  longjump     188     129   28
147  longjump     184     128   28
148  longjump     189     127   28
149  longjump     189     127   28
150  longjump     188     127   29
151  longjump     183     127   29
152  longjump     185     128   30
153  longjump     184     128   30
154  longjump     183     126   30
155  longjump     184     126   30
156  longjump     189     127   30
157  longjump     189     127   29

In [23]:
fsports=df.sports.unique()

In [24]:
fsports

array(['cricket', 'sumo', 'basketball', 'gymastics', 'rowing', 'tennis',
       'shortput', 'longjump'], dtype=object)

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
enc=LabelEncoder()

In [27]:
enc.fit(df.sports)

LabelEncoder()

In [28]:
df.sports=enc.transform(df.sports)

In [29]:
df

     sports  Height  Weight  BMI
0         1     171      67   24
1         1     183      74   25
2         1     182      76   24
3         1     181      69   24
4         1     183      71   25
..      ...     ...     ...  ...
153       3     184     128   30
154       3     183     126   30
155       3     184     126   30
156       3     189     127   30
157       3     189     127   29

[158 rows x 4 columns]

In [30]:
x=df.iloc[:,[1,2,3]].values

In [31]:
y=df.iloc[:,[0]].values

In [32]:
x

array([[171,  67,  24],
       [183,  74,  25],
       [182,  76,  24],
       [181,  69,  24],
       [183,  71,  25],
       [171,  67,  25],
       [164,  65,  26],
       [189,  76,  25],
       [188,  75,  25],
       [177,  72,  24],
       [179,  73,  25],
       [178,  68,  26],
       [176,  69,  25],
       [183,  76,  26],
       [182,  72,  26],
       [182,  70,  26],
       [190,  78,  25],
       [182,  65,  25],
       [182,  66,  25],
       [175, 156,  39],
       [176, 162,  40],
       [178, 170,  41],
       [180, 148,  39],
       [181, 176,  39],
       [184, 166,  39],
       [186, 165,  39],
       [190, 159,  40],
       [185, 162,  40],
       [188, 166,  39],
       [192, 169,  38],
       [179, 166,  37],
       [187, 151,  37],
       [189, 160,  38],
       [178, 168,  39],
       [188, 157,  38],
       [187, 151,  38],
       [188, 173,  40],
       [229, 120,  30],
       [229,  91,  30],
       [224,  98,  30],
       [224, 100,  31],
       [224, 113,  31],
       [221, 114,  32],
       [218, 112,  31],
       [218, 107,  31],
       [219, 105,  32],
       [216, 105,  32],
       [213, 113,  33],
       [218, 115,  31],
       [219,  97,  31],
       [230,  96,  31],
       [229, 109,  31],
       [225, 120,  30],
       [211, 101,  30],
       [213,  99,  31],
       [213,  95,  30],
       [214,  95,  31],
       [199,  89,  31],
       [204,  88,  31],
       [203,  88,  32],
       [205,  89,  30],
       [205,  90,  30],
       [151,  40,  15],
       [152,  40,  18],
       [153,  45,  18],
       [154,  46,  18],
       [156,  47,  17],
       [155,  48,  18],
       [157,  47,  18],
       [150,  48,  18],
       [159,  45,  18],
       [158,  43,  17],
       [160,  41,  17],
       [159,  41,  18],
       [150,  41,  18],
       [150,  40,  17],
       [155,  43,  18],
       [149,  48,  18],
       [145,  49,  17],
       [160,  49,  17],
       [160,  49,  14],
       [159,  45,  15],
       [158,  47,  16],
       [158,  47,  17],
       [159,  48,  17],
       [155,  43,  18],
       [188,  65,  18],
       [187,  66,  19],
       [191,  66,  20],
       [192,  69,  20],
       [193,  69,  19],
       [194,  69,  20],
       [195,  69,  19],
       [190,  69,  20],
       [189,  67,  20],
       [193,  60,  20],
       [194,  65,  28],
       [195,  67,  19],
       [196,  70,  20],
       [189,  68,  19],
       [190,  65,  20],
       [191,  65,  19],
       [185,  76,  20],
       [189,  78,  20],
       [188,  79,  21],
       [188,  80,  21],
       [185,  76,  22],
       [184,  77,  22],
       [184,  79,  21],
       [187,  74,  21],
       [189,  78,  21],
       [188,  75,  20],
       [188,  79,  20],
       [189,  77,  21],
       [184,  74,  22],
       [186,  76,  21],
       [185,  80,  21],
       [190,  40,  31],
       [190,  42,  31],
       [190,  42,  32],
       [195,  43,  31],
       [199,  43,  31],
       [189, 110,  30],
       [188, 120,  31],
       [189, 130,  31],
       [195, 130,  30],
       [195, 120,  31],
       [188, 130,  30],
       [186, 120,  30],
       [186, 125,  32],
       [183, 124,  31],
       [184, 124,  31],
       [184, 124,  31],
       [180, 125,  30],
       [179, 130,  28],
       [182, 120,  28],
       [182, 132,  29],
       [181, 120,  28],
       [179, 119,  29],
       [179, 120,  29],
       [182, 120,  29],
       [184, 123,  28],
       [184, 122,  29],
       [183, 122,  29],
       [183, 129,  30],
       [183, 129,  30],
       [188, 129,  28],
       [184, 128,  28],
       [189, 127,  28],
       [189, 127,  28],
       [188, 127,  29],
       [183, 127,  29],
       [185, 128,  30],
       [184, 128,  30],
       [183, 126,  30],
       [184, 126,  30],
       [189, 127,  30],
       [189, 127,  29]], dtype=int64)

In [33]:
y

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [6],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [4],
       [7],
       [7],
       [7],
       [7],
       [7],
       [7],
       [7],
       [7],
       [7],
       [7],
       [7],
       [7],
       [7],
       [7],
       [7],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3],
       [3]])

In [34]:
fsports=df.sports.unique()

In [35]:
fsports

array([1, 6, 0, 2, 4, 7, 5, 3], dtype=int64)

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [38]:
x_train.shape

(118, 3)

In [39]:
#normalize
from sklearn.preprocessing import StandardScaler

In [40]:
std=StandardScaler()

In [41]:
x_train=std.fit_transform(x_train)
x_test=std.fit_transform(x_test)

In [42]:
from sklearn.tree import DecisionTreeClassifier

In [43]:
model=DecisionTreeClassifier()

In [44]:
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [45]:
y_predict=model.predict(x_test)

In [46]:
y_predict

array([1, 0, 4, 5, 2, 3, 5, 3, 4, 4, 6, 1, 6, 0, 2, 4, 5, 4, 3, 0, 0, 6,
       5, 1, 0, 0, 4, 6, 3, 7, 0, 0, 1, 3, 1, 6, 4, 2, 7, 4])

In [47]:
y_test

array([[1],
       [0],
       [7],
       [5],
       [2],
       [5],
       [5],
       [3],
       [7],
       [4],
       [6],
       [3],
       [6],
       [0],
       [2],
       [4],
       [5],
       [4],
       [3],
       [0],
       [0],
       [6],
       [0],
       [1],
       [0],
       [0],
       [4],
       [6],
       [3],
       [7],
       [0],
       [0],
       [1],
       [5],
       [3],
       [6],
       [4],
       [2],
       [7],
       [4]])

In [48]:
model.score(x_test,y_test)*100

82.5

In [49]:
fsports

array([1, 6, 0, 2, 4, 7, 5, 3], dtype=int64)